USE [ASL]
GO
ALTER TABLE [dbo].[UserItems] DROP CONSTRAINT [FK_UserItems_Items_ItemId]
GO
ALTER TABLE [dbo].[UserItems] DROP CONSTRAINT [FK_UserItems_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Transactions] DROP CONSTRAINT [FK_Transactions_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[ShopPurchases] DROP CONSTRAINT [FK_ShopPurchases_ShopItems_ShopItemId]
GO
ALTER TABLE [dbo].[ShopPurchases] DROP CONSTRAINT [FK_ShopPurchases_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[ShopItems] DROP CONSTRAINT [FK_ShopItems_Items_ItemId]
GO
ALTER TABLE [dbo].[GachaItem] DROP CONSTRAINT [FK_GachaItem_Items_ItemId]
GO
ALTER TABLE [dbo].[GachaItem] DROP CONSTRAINT [FK_GachaItem_GachaBanner_GachaBannerId]
GO
ALTER TABLE [dbo].[GachaHistory] DROP CONSTRAINT [FK_GachaHistory_Items_ItemId]
GO
ALTER TABLE [dbo].[GachaHistory] DROP CONSTRAINT [FK_GachaHistory_GachaBanner_GachaBannerId]
GO
ALTER TABLE [dbo].[GachaHistory] DROP CONSTRAINT [FK_GachaHistory_AspNetUsers_UserId1]
GO
ALTER TABLE [dbo].[GachaHistory] DROP CONSTRAINT [FK_GachaHistory_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens] DROP CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles] DROP CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles] DROP CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserLogins] DROP CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserClaims] DROP CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetRoleClaims] DROP CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
/****** Object:  Index [IX_UserItems_ItemId]    Script Date: 4/18/2026 1:29:21 PM ******/
DROP INDEX [IX_UserItems_ItemId] ON [dbo].[UserItems]
GO
/****** Object:  Index [IX_Transactions_UserId]    Script Date: 4/18/2026 1:29:21 PM ******/
DROP INDEX [IX_Transactions_UserId] ON [dbo].[Transactions]
GO
/****** Object:  Index [IX_Transactions_OrderCode]    Script Date: 4/18/2026 1:29:21 PM ******/
DROP INDEX [IX_Transactions_OrderCode] ON [dbo].[Transactions]
GO
/****** Object:  Index [IX_ShopPurchases_UserId]    Script Date: 4/18/2026 1:29:21 PM ******/
DROP INDEX [IX_ShopPurchases_UserId] ON [dbo].[ShopPurchases]
GO
/****** Object:  Index [IX_ShopPurchases_ShopItemId]    Script Date: 4/18/2026 1:29:21 PM ******/
DROP INDEX [IX_ShopPurchases_ShopItemId] ON [dbo].[ShopPurchases]
GO
/****** Object:  Index [IX_ShopItems_ItemId]    Script Date: 4/18/2026 1:29:21 PM ******/
DROP INDEX [IX_ShopItems_ItemId] ON [dbo].[ShopItems]
GO
/****** Object:  Index [IX_NPCs_Name]    Script Date: 4/18/2026 1:29:21 PM ******/
DROP INDEX [IX_NPCs_Name] ON [dbo].[NPCs]
GO
/****** Object:  Index [IX_Items_Name]    Script Date: 4/18/2026 1:29:21 PM ******/
DROP INDEX [IX_Items_Name] ON [dbo].[Items]
GO
/****** Object:  Index [IX_GameNews_Title]    Script Date: 4/18/2026 1:29:21 PM ******/
DROP INDEX [IX_GameNews_Title] ON [dbo].[GameNews]
GO
/****** Object:  Index [IX_GachaItem_ItemId]    Script Date: 4/18/2026 1:29:21 PM ******/
DROP INDEX [IX_GachaItem_ItemId] ON [dbo].[GachaItem]
GO
/****** Object:  Index [IX_GachaItem_GachaBannerId]    Script Date: 4/18/2026 1:29:21 PM ******/
DROP INDEX [IX_GachaItem_GachaBannerId] ON [dbo].[GachaItem]
GO
/****** Object:  Index [IX_GachaHistory_UserId1]    Script Date: 4/18/2026 1:29:21 PM ******/
DROP INDEX [IX_GachaHistory_UserId1] ON [dbo].[GachaHistory]
GO
/****** Object:  Index [IX_GachaHistory_UserId]    Script Date: 4/18/2026 1:29:21 PM ******/
DROP INDEX [IX_GachaHistory_UserId] ON [dbo].[GachaHistory]
GO
/****** Object:  Index [IX_GachaHistory_ItemId]    Script Date: 4/18/2026 1:29:21 PM ******/
DROP INDEX [IX_GachaHistory_ItemId] ON [dbo].[GachaHistory]
GO
/****** Object:  Index [IX_GachaHistory_GachaBannerId]    Script Date: 4/18/2026 1:29:21 PM ******/
DROP INDEX [IX_GachaHistory_GachaBannerId] ON [dbo].[GachaHistory]
GO
/****** Object:  Index [UserNameIndex]    Script Date: 4/18/2026 1:29:21 PM ******/
DROP INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
GO
/****** Object:  Index [IX_AspNetUsers_UserName]    Script Date: 4/18/2026 1:29:21 PM ******/
DROP INDEX [IX_AspNetUsers_UserName] ON [dbo].[AspNetUsers]
GO
/****** Object:  Index [IX_AspNetUsers_Email]    Script Date: 4/18/2026 1:29:21 PM ******/
DROP INDEX [IX_AspNetUsers_Email] ON [dbo].[AspNetUsers]
GO
/****** Object:  Index [EmailIndex]    Script Date: 4/18/2026 1:29:21 PM ******/
DROP INDEX [EmailIndex] ON [dbo].[AspNetUsers]
GO
/****** Object:  Index [IX_AspNetUserRoles_RoleId]    Script Date: 4/18/2026 1:29:21 PM ******/
DROP INDEX [IX_AspNetUserRoles_RoleId] ON [dbo].[AspNetUserRoles]
GO
/****** Object:  Index [IX_AspNetUserLogins_UserId]    Script Date: 4/18/2026 1:29:21 PM ******/
DROP INDEX [IX_AspNetUserLogins_UserId] ON [dbo].[AspNetUserLogins]
GO
/****** Object:  Index [IX_AspNetUserClaims_UserId]    Script Date: 4/18/2026 1:29:21 PM ******/
DROP INDEX [IX_AspNetUserClaims_UserId] ON [dbo].[AspNetUserClaims]
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 4/18/2026 1:29:21 PM ******/
DROP INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
GO
/****** Object:  Index [IX_AspNetRoleClaims_RoleId]    Script Date: 4/18/2026 1:29:21 PM ******/
DROP INDEX [IX_AspNetRoleClaims_RoleId] ON [dbo].[AspNetRoleClaims]
GO
/****** Object:  Table [dbo].[UserItems]    Script Date: 4/18/2026 1:29:21 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UserItems]') AND type in (N'U'))
DROP TABLE [dbo].[UserItems]
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 4/18/2026 1:29:21 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Transactions]') AND type in (N'U'))
DROP TABLE [dbo].[Transactions]
GO
/****** Object:  Table [dbo].[ShopPurchases]    Script Date: 4/18/2026 1:29:21 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ShopPurchases]') AND type in (N'U'))
DROP TABLE [dbo].[ShopPurchases]
GO
/****** Object:  Table [dbo].[ShopItems]    Script Date: 4/18/2026 1:29:21 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ShopItems]') AND type in (N'U'))
DROP TABLE [dbo].[ShopItems]
GO
/****** Object:  Table [dbo].[NPCs]    Script Date: 4/18/2026 1:29:21 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[NPCs]') AND type in (N'U'))
DROP TABLE [dbo].[NPCs]
GO
/****** Object:  Table [dbo].[Items]    Script Date: 4/18/2026 1:29:21 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Items]') AND type in (N'U'))
DROP TABLE [dbo].[Items]
GO
/****** Object:  Table [dbo].[GameNews]    Script Date: 4/18/2026 1:29:21 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GameNews]') AND type in (N'U'))
DROP TABLE [dbo].[GameNews]
GO
/****** Object:  Table [dbo].[GachaItem]    Script Date: 4/18/2026 1:29:21 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GachaItem]') AND type in (N'U'))
DROP TABLE [dbo].[GachaItem]
GO
/****** Object:  Table [dbo].[GachaHistory]    Script Date: 4/18/2026 1:29:21 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GachaHistory]') AND type in (N'U'))
DROP TABLE [dbo].[GachaHistory]
GO
/****** Object:  Table [dbo].[GachaBanner]    Script Date: 4/18/2026 1:29:21 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GachaBanner]') AND type in (N'U'))
DROP TABLE [dbo].[GachaBanner]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 4/18/2026 1:29:21 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AspNetUserTokens]') AND type in (N'U'))
DROP TABLE [dbo].[AspNetUserTokens]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 4/18/2026 1:29:21 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AspNetUsers]') AND type in (N'U'))
DROP TABLE [dbo].[AspNetUsers]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 4/18/2026 1:29:21 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AspNetUserRoles]') AND type in (N'U'))
DROP TABLE [dbo].[AspNetUserRoles]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 4/18/2026 1:29:21 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AspNetUserLogins]') AND type in (N'U'))
DROP TABLE [dbo].[AspNetUserLogins]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 4/18/2026 1:29:21 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AspNetUserClaims]') AND type in (N'U'))
DROP TABLE [dbo].[AspNetUserClaims]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 4/18/2026 1:29:21 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AspNetRoles]') AND type in (N'U'))
DROP TABLE [dbo].[AspNetRoles]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 4/18/2026 1:29:21 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AspNetRoleClaims]') AND type in (N'U'))
DROP TABLE [dbo].[AspNetRoleClaims]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 4/18/2026 1:29:21 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[__EFMigrationsHistory]') AND type in (N'U'))
DROP TABLE [dbo].[__EFMigrationsHistory]
GO
USE [master]
GO
/****** Object:  Database [ASL]    Script Date: 4/18/2026 1:29:21 PM ******/
DROP DATABASE [ASL]
GO
/****** Object:  Database [ASL]    Script Date: 4/18/2026 1:29:21 PM ******/
CREATE DATABASE [ASL]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ASL', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ASL.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ASL_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ASL_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ASL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ASL]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 4/18/2026 1:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 4/18/2026 1:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [uniqueidentifier] NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 4/18/2026 1:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 4/18/2026 1:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 4/18/2026 1:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 4/18/2026 1:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [uniqueidentifier] NOT NULL,
	[RoleId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 4/18/2026 1:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [uniqueidentifier] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[UserDOB] [date] NULL,
	[PhoneNumber] [nvarchar](11) NULL,
	[Gender] [tinyint] NOT NULL,
	[UserAvatar] [nvarchar](max) NULL,
	[SaveFilePath] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[IsBanned] [bit] NOT NULL,
	[CurrencyAmount] [decimal](18, 2) NOT NULL,
	[PityCounter] [int] NOT NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 4/18/2026 1:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [uniqueidentifier] NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GachaBanner]    Script Date: 4/18/2026 1:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GachaBanner](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
	[BannerImagePath] [nvarchar](max) NOT NULL,
	[CostPerSinglePull] [int] NOT NULL,
	[CostPerMultiPull] [int] NOT NULL,
	[MultiPullCount] [int] NOT NULL,
	[PityThreshold] [int] NOT NULL,
	[HardPityThreshold] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_GachaBanner] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GachaHistory]    Script Date: 4/18/2026 1:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GachaHistory](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[UserId1] [uniqueidentifier] NULL,
	[GachaBannerId] [uniqueidentifier] NOT NULL,
	[ItemId] [uniqueidentifier] NOT NULL,
	[StarRating] [int] NOT NULL,
	[IsFeatured] [bit] NOT NULL,
	[WasPityTriggered] [bit] NOT NULL,
	[PullNumberInSession] [int] NOT NULL,
	[PityCounterSnapshot] [int] NOT NULL,
	[PullType] [nvarchar](20) NOT NULL,
	[GemsCost] [int] NOT NULL,
	[PulledAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_GachaHistory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GachaItem]    Script Date: 4/18/2026 1:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GachaItem](
	[Id] [uniqueidentifier] NOT NULL,
	[GachaBannerId] [uniqueidentifier] NOT NULL,
	[ItemId] [uniqueidentifier] NOT NULL,
	[DropRate] [float] NOT NULL,
	[StarRating] [int] NOT NULL,
	[ItemCategory] [nvarchar](50) NOT NULL,
	[IsFeatured] [bit] NOT NULL,
 CONSTRAINT [PK_GachaItem] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GameNews]    Script Date: 4/18/2026 1:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GameNews](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](500) NOT NULL,
	[BannerPath] [nvarchar](max) NULL,
	[Description] [nvarchar](500) NOT NULL,
	[Rarity] [nvarchar](max) NULL,
	[Content] [nvarchar](max) NOT NULL,
	[PublishDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_GameNews] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Items]    Script Date: 4/18/2026 1:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Items](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
	[Rarity] [nvarchar](50) NOT NULL,
	[ImagePath] [nvarchar](max) NOT NULL,
	[StatsLines] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Items] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NPCs]    Script Date: 4/18/2026 1:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NPCs](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[ImagePath] [nvarchar](max) NOT NULL,
	[Location] [nvarchar](100) NULL,
	[NPCType] [nvarchar](50) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_NPCs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShopItems]    Script Date: 4/18/2026 1:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShopItems](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Category] [nvarchar](50) NOT NULL,
	[ItemType] [nvarchar](50) NULL,
	[ImagePath] [nvarchar](max) NOT NULL,
	[Price] [decimal](18, 2) NULL,
	[CurrencyAmount] [decimal](18, 2) NULL,
	[IsUsingPremiumCurrency] [bit] NOT NULL,
	[ItemQuantity] [int] NULL,
	[ItemId] [uniqueidentifier] NULL,
	[IsActive] [bit] NOT NULL,
	[IsFeatured] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_ShopItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShopPurchases]    Script Date: 4/18/2026 1:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShopPurchases](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[ShopItemId] [uniqueidentifier] NOT NULL,
	[Quantity] [int] NOT NULL,
	[PaymentType] [nvarchar](max) NOT NULL,
	[AmountPaid] [decimal](18, 2) NOT NULL,
	[PurchaseDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ShopPurchases] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 4/18/2026 1:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[Id] [uniqueidentifier] NOT NULL,
	[OrderCode] [bigint] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Type] [nvarchar](50) NOT NULL,
	[Amount] [int] NOT NULL,
	[CurrencyAwarded] [int] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[CheckoutUrl] [nvarchar](max) NULL,
	[QrCodeUrl] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[PaidAt] [datetime2](7) NULL,
	[UserId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Transactions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserItems]    Script Date: 4/18/2026 1:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserItems](
	[UserId] [uniqueidentifier] NOT NULL,
	[ItemId] [uniqueidentifier] NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_UserItems] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[ItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260417075733_InitialCreate', N'8.0.23')
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'c57127f1-f1ec-47ae-8ae3-08de9c572239', N'admin', N'ADMIN', NULL)
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'c13228a8-abee-44ea-8ae4-08de9c572239', N'user', N'USER', NULL)
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'fee03e9d-6168-465f-b3fd-08de9c57224e', N'c57127f1-f1ec-47ae-8ae3-08de9c572239')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'6f1a816b-5659-4d67-b3fe-08de9c57224e', N'c13228a8-abee-44ea-8ae4-08de9c572239')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'c06dcfbd-98bd-4ea7-b3ff-08de9c57224e', N'c13228a8-abee-44ea-8ae4-08de9c572239')
GO
INSERT [dbo].[GachaBanner] ([Id], [Name], [Description], [BannerImagePath], [CostPerSinglePull], [CostPerMultiPull], [MultiPullCount], [PityThreshold], [HardPityThreshold], [IsActive], [StartDate], [EndDate], [CreatedDate]) VALUES (N'11111111-1111-1111-1111-111111111111', N'Inferno Forge', N'The blade that sundered the Ashen Gate — forged once, never again', N'/images/banner.png', 100, 1000, 10, 10, 90, 1, CAST(N'2026-04-16T15:39:45.3200000' AS DateTime2), CAST(N'2026-05-17T15:39:45.3200000' AS DateTime2), CAST(N'2026-04-17T15:39:45.3200000' AS DateTime2))
GO
INSERT [dbo].[GachaHistory] ([Id], [UserId], [UserId1], [GachaBannerId], [ItemId], [StarRating], [IsFeatured], [WasPityTriggered], [PullNumberInSession], [PityCounterSnapshot], [PullType], [GemsCost], [PulledAt]) VALUES (N'10671815-4964-41ff-a10e-0028f3d58be3', N'c06dcfbd-98bd-4ea7-b3ff-08de9c57224e', NULL, N'11111111-1111-1111-1111-111111111111', N'33333333-3333-3333-3333-333333333333', 3, 0, 0, 10, 10, N'MultiPull', 100, CAST(N'2026-04-17T21:14:05.9740255' AS DateTime2))
INSERT [dbo].[GachaHistory] ([Id], [UserId], [UserId1], [GachaBannerId], [ItemId], [StarRating], [IsFeatured], [WasPityTriggered], [PullNumberInSession], [PityCounterSnapshot], [PullType], [GemsCost], [PulledAt]) VALUES (N'e9f9abd9-68b2-468b-b50d-005931a363de', N'c06dcfbd-98bd-4ea7-b3ff-08de9c57224e', NULL, N'11111111-1111-1111-1111-111111111111', N'33333333-3333-3333-3333-333333333333', 3, 0, 0, 3, 3, N'MultiPull', 100, CAST(N'2026-04-17T21:39:41.1466422' AS DateTime2))
INSERT [dbo].[GachaHistory] ([Id], [UserId], [UserId1], [GachaBannerId], [ItemId], [StarRating], [IsFeatured], [WasPityTriggered], [PullNumberInSession], [PityCounterSnapshot], [PullType], [GemsCost], [PulledAt]) VALUES (N'2a5e936a-d069-448d-81b8-00c5c8d607ac', N'c06dcfbd-98bd-4ea7-b3ff-08de9c57224e', NULL, N'11111111-1111-1111-1111-111111111111', N'33333333-3333-3333-3333-333333333333', 3, 0, 0, 4, 14, N'MultiPull', 100, CAST(N'2026-04-17T21:10:23.9161004' AS DateTime2))
GO
INSERT [dbo].[GachaItem] ([Id], [GachaBannerId], [ItemId], [DropRate], [StarRating], [ItemCategory], [IsFeatured]) VALUES (N'2f02ecba-0797-4b4f-b1b0-074b350fd2ff', N'11111111-1111-1111-1111-111111111111', N'44444444-4444-4444-4444-444444444444', 5.1, 4, N'Armor', 1)
INSERT [dbo].[GachaItem] ([Id], [GachaBannerId], [ItemId], [DropRate], [StarRating], [ItemCategory], [IsFeatured]) VALUES (N'52593b7f-1a99-4572-9006-2be9d445a380', N'11111111-1111-1111-1111-111111111111', N'33333333-3333-3333-3333-333333333333', 94.3, 3, N'Consumable', 0)
INSERT [dbo].[GachaItem] ([Id], [GachaBannerId], [ItemId], [DropRate], [StarRating], [ItemCategory], [IsFeatured]) VALUES (N'6edeb781-826d-4244-930b-34ba7dcd3c51', N'11111111-1111-1111-1111-111111111111', N'55555555-5555-5555-5555-555555555555', 0.6, 5, N'Weapon', 1)
GO
INSERT [dbo].[Items] ([Id], [Name], [Description], [Type], [Rarity], [ImagePath], [StatsLines]) VALUES (N'38a284c3-0773-48fc-b01b-00bc69aa07a8', N'Scavenged Work Boots', N'Heavy leather boots nailed together from mismatched pieces. The left and right don''t quite match. The sole of one is thicker than the other. You adapt.', N'Armor - Shoes', N'Common', N'/images/items/scavenged_work_boots.png', N'["defence:+3", "dropLevel:1-5"]')
INSERT [dbo].[Items] ([Id], [Name], [Description], [Type], [Rarity], [ImagePath], [StatsLines]) VALUES (N'eaf20c7b-0135-48a4-8299-01622c675e56', N'Copper Band', N'A plain copper ring, slightly green at the edges. Mass-produced. No magic. No mystery. But everyone needs a ring to start somewhere.', N'Accessory', N'Common', N'/images/items/copper_band.png', N'["maxHealth:+5", "dropLevel:1-4"]')
INSERT [dbo].[Items] ([Id], [Name], [Description], [Type], [Rarity], [ImagePath], [StatsLines]) VALUES (N'1922e575-6be6-4d41-ab2e-05ce357210db', N'Shadowwalker Boots', N'Leather boots soaked for three months in shadowmoss extract until the leather darkened permanently. They dampen sound to near silence. Ideal for those who prefer not to be heard.', N'Armor - Shoes', N'Rare', N'/images/items/shadowwalker_boots.png', N'["defence:+6", "moveSpeed:+0.35", "maxStamina:+12", "dropLevel:7-12"]')
GO
INSERT [dbo].[UserItems] ([UserId], [ItemId], [Quantity]) VALUES (N'c06dcfbd-98bd-4ea7-b3ff-08de9c57224e', N'33333333-3333-3333-3333-333333333333', 234)
INSERT [dbo].[UserItems] ([UserId], [ItemId], [Quantity]) VALUES (N'c06dcfbd-98bd-4ea7-b3ff-08de9c57224e', N'44444444-4444-4444-4444-444444444444', 29)
INSERT [dbo].[UserItems] ([UserId], [ItemId], [Quantity]) VALUES (N'c06dcfbd-98bd-4ea7-b3ff-08de9c57224e', N'55555555-5555-5555-5555-555555555555', 2)
GO
/****** Object:  Index [IX_AspNetRoleClaims_RoleId]    Script Date: 4/18/2026 1:29:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetRoleClaims_RoleId] ON [dbo].[AspNetRoleClaims]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 4/18/2026 1:29:21 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[NormalizedName] ASC
)
WHERE ([NormalizedName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AspNetUserClaims_UserId]    Script Date: 4/18/2026 1:29:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserClaims_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AspNetUserLogins_UserId]    Script Date: 4/18/2026 1:29:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserLogins_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AspNetUserRoles_RoleId]    Script Date: 4/18/2026 1:29:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserRoles_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [EmailIndex]    Script Date: 4/18/2026 1:29:21 PM ******/
CREATE NONCLUSTERED INDEX [EmailIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUsers_Email]    Script Date: 4/18/2026 1:29:21 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_AspNetUsers_Email] ON [dbo].[AspNetUsers]
(
	[Email] ASC
)
WHERE ([Email] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUsers_UserName]    Script Date: 4/18/2026 1:29:21 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_AspNetUsers_UserName] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 4/18/2026 1:29:21 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedUserName] ASC
)
WHERE ([NormalizedUserName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_GachaHistory_GachaBannerId]    Script Date: 4/18/2026 1:29:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_GachaHistory_GachaBannerId] ON [dbo].[GachaHistory]
(
	[GachaBannerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_GachaHistory_ItemId]    Script Date: 4/18/2026 1:29:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_GachaHistory_ItemId] ON [dbo].[GachaHistory]
(
	[ItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_GachaHistory_UserId]    Script Date: 4/18/2026 1:29:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_GachaHistory_UserId] ON [dbo].[GachaHistory]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_GachaHistory_UserId1]    Script Date: 4/18/2026 1:29:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_GachaHistory_UserId1] ON [dbo].[GachaHistory]
(
	[UserId1] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_GachaItem_GachaBannerId]    Script Date: 4/18/2026 1:29:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_GachaItem_GachaBannerId] ON [dbo].[GachaItem]
(
	[GachaBannerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_GachaItem_ItemId]    Script Date: 4/18/2026 1:29:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_GachaItem_ItemId] ON [dbo].[GachaItem]
(
	[ItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_GameNews_Title]    Script Date: 4/18/2026 1:29:21 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_GameNews_Title] ON [dbo].[GameNews]
(
	[Title] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Items_Name]    Script Date: 4/18/2026 1:29:21 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Items_Name] ON [dbo].[Items]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_NPCs_Name]    Script Date: 4/18/2026 1:29:21 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_NPCs_Name] ON [dbo].[NPCs]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ShopItems_ItemId]    Script Date: 4/18/2026 1:29:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_ShopItems_ItemId] ON [dbo].[ShopItems]
(
	[ItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ShopPurchases_ShopItemId]    Script Date: 4/18/2026 1:29:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_ShopPurchases_ShopItemId] ON [dbo].[ShopPurchases]
(
	[ShopItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ShopPurchases_UserId]    Script Date: 4/18/2026 1:29:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_ShopPurchases_UserId] ON [dbo].[ShopPurchases]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Transactions_OrderCode]    Script Date: 4/18/2026 1:29:21 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Transactions_OrderCode] ON [dbo].[Transactions]
(
	[OrderCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Transactions_UserId]    Script Date: 4/18/2026 1:29:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_Transactions_UserId] ON [dbo].[Transactions]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserItems_ItemId]    Script Date: 4/18/2026 1:29:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserItems_ItemId] ON [dbo].[UserItems]
(
	[ItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[GachaHistory]  WITH CHECK ADD  CONSTRAINT [FK_GachaHistory_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[GachaHistory] CHECK CONSTRAINT [FK_GachaHistory_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[GachaHistory]  WITH CHECK ADD  CONSTRAINT [FK_GachaHistory_AspNetUsers_UserId1] FOREIGN KEY([UserId1])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[GachaHistory] CHECK CONSTRAINT [FK_GachaHistory_AspNetUsers_UserId1]
GO
ALTER TABLE [dbo].[GachaHistory]  WITH CHECK ADD  CONSTRAINT [FK_GachaHistory_GachaBanner_GachaBannerId] FOREIGN KEY([GachaBannerId])
REFERENCES [dbo].[GachaBanner] ([Id])
GO
ALTER TABLE [dbo].[GachaHistory] CHECK CONSTRAINT [FK_GachaHistory_GachaBanner_GachaBannerId]
GO
ALTER TABLE [dbo].[GachaHistory]  WITH CHECK ADD  CONSTRAINT [FK_GachaHistory_Items_ItemId] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Items] ([Id])
GO
ALTER TABLE [dbo].[GachaHistory] CHECK CONSTRAINT [FK_GachaHistory_Items_ItemId]
GO
ALTER TABLE [dbo].[GachaItem]  WITH CHECK ADD  CONSTRAINT [FK_GachaItem_GachaBanner_GachaBannerId] FOREIGN KEY([GachaBannerId])
REFERENCES [dbo].[GachaBanner] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GachaItem] CHECK CONSTRAINT [FK_GachaItem_GachaBanner_GachaBannerId]
GO
ALTER TABLE [dbo].[GachaItem]  WITH CHECK ADD  CONSTRAINT [FK_GachaItem_Items_ItemId] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Items] ([Id])
GO
ALTER TABLE [dbo].[GachaItem] CHECK CONSTRAINT [FK_GachaItem_Items_ItemId]
GO
ALTER TABLE [dbo].[ShopItems]  WITH CHECK ADD  CONSTRAINT [FK_ShopItems_Items_ItemId] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Items] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[ShopItems] CHECK CONSTRAINT [FK_ShopItems_Items_ItemId]
GO
ALTER TABLE [dbo].[ShopPurchases]  WITH CHECK ADD  CONSTRAINT [FK_ShopPurchases_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ShopPurchases] CHECK CONSTRAINT [FK_ShopPurchases_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[ShopPurchases]  WITH CHECK ADD  CONSTRAINT [FK_ShopPurchases_ShopItems_ShopItemId] FOREIGN KEY([ShopItemId])
REFERENCES [dbo].[ShopItems] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ShopPurchases] CHECK CONSTRAINT [FK_ShopPurchases_ShopItems_ShopItemId]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[UserItems]  WITH CHECK ADD  CONSTRAINT [FK_UserItems_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserItems] CHECK CONSTRAINT [FK_UserItems_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[UserItems]  WITH CHECK ADD  CONSTRAINT [FK_UserItems_Items_ItemId] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Items] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserItems] CHECK CONSTRAINT [FK_UserItems_Items_ItemId]
GO
USE [master]
GO
